.root {
	-fx-font-size: 16px;
	-fx-font-family: Arial;
	}

.context-menu {
    -fx-min-width: 100px;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.status-bar {
	-fx-background-color: none;
	-fx-border-radius: 3px;
}

.chart-title, .axis-label {
    -fx-font-size: 16px;
}

.wrapper {
    -fx-border-radius: 3px;
    -fx-border-color: #7D7D7D;
}

.title {
    -fx-font-weight: bold;
}