.root {
	-fx-font-size: 16px;
	-fx-font-family: Arial;
}

.context-menu {
    -fx-min-width: 100px;
    -fx-padding: 0;
}

.context-menu .separator:horizontal .line {
    -fx-border-insets: 0 0 0 0;
}

.tab-pane:focused > .tab-header-area > .headers-region > .tab:selected .focus-indicator {
    -fx-border-color: transparent;
}

.status-bar {
	-fx-background-color: none;
}

.chart-title, .axis-label {
    -fx-font-size: 16px;
}

.processTable {
    /*-fx-font-weight: bold;*/
    -fx-font-size: 12px;
}

.processTable .scroll-bar:vertical > .increment-button,
.processTable .scroll-bar:vertical > .decrement-button {
    -fx-background-color: null;
    -fx-background-radius: 0;
    -fx-background-insets: 0;
    -fx-padding: 0;
}

.programTable, .eventTable {
    -fx-font-weight: normal;
    -fx-font-size: 12px;
    -fx-font-family: Arial;
}

.programGraph {
    -fx-font-weight: normal;
    -fx-font-size: 14px;
    -fx-font-family: Arial;
}

.wrapper {
    -fx-border-color: #7D7D7D;
}

.title {
    -fx-font-weight: bold;
}

.table-view:focused, .list-view:focused{
    -fx-background-color: c8c8c8;
    -fx-background-insets: 0;
}

.table-view:focused:row-selection > .virtual-flow > .clipped-container > .sheet > .table-row-cell:focused,
.list-view:focused > .virtual-flow > .clipped-container > .sheet > .list-cell:focused {
    -fx-background-insets: 0;
}

/* Selected when control is not focused */
.list-cell:filled:selected,
.tree-cell:filled:selected,
.table-row-cell:filled:selected,
.tree-table-row-cell:filled:selected,
.table-row-cell:filled > .table-cell:selected,
.tree-table-row-cell:filled > .tree-table-cell:selected {
    -fx-background: -fx-selection-bar;
    -fx-table-cell-border-color: derive(-fx-selection-bar, 20%);
}

.context-menu  {
	-fx-min-width: 100px;
	-fx-padding: 5 0 5 0;
	-fx-border-color: #7D7D7D;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);
}

.context-menu .separator:horizontal .line {
	-fx-border-insets: 5 0 4 0;
	-fx-max-height: 1px;
}

.combo-box-popup > .list-view {
	-fx-border-color: #7D7D7D;
	-fx-background-color: rgba(255, 255, 255, 1);
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.3), 20, 0, 0, 0);
}

.context-menu,
.text-field,
.button,
.check-box > .box,
.status-bar,
.wrapper,
.text-area,
.text-area .content,
.text-area .scroll-pane .content,
.text-area .scroll-pane, .text-area .scroll-pane .viewport,
.combo-box-base,
.combo-box-popup > .list-view {
	-fx-background-radius: 5px;
	-fx-border-radius: 5px;
}

.tab {
    -fx-background-radius: 5 5 0 0 ;
}

.list-view:focused {
    -fx-background-color: rgba(255, 255, 255, 1);
    -fx-border-color: lightgrey;
    -fx-padding: 0 0 0 0;
}

.combo-box-popup  > .list-view > .virtual-flow > .clipped-container > .sheet > .list-cell,
.list-view > .virtual-flow > .clipped-container > .sheet > .list-cell
 {
    -fx-background-radius: 0px;
    -fx-border-radius: 0px;
}

.combo-box-popup  > .list-view  {
    -fx-padding: 5 0 4 0;
}

.combo-box-popup  > .list-view > .virtual-flow > .scroll-bar:vertical {
    -fx-padding: -5 0 -4 0;
    -fx-background-radius: 5px;
    -fx-background-insets: -5 0 -4 0, 10, 10, 20;
}

.menu {
    -fx-font-size: 14px;
}

.menu-bar {
    -fx-padding: 0 0 0 0;
}